//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/")
          h3.heading.left IBM 
            span.top-nav--logo-wdc Watson Developer Cloud
    div.row.header
      div.container
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h1(style="font-size:40px;").service-title Personality Insights Comparator
          p The IBM Watson Personality Insights service uses linguistic analytics to
            | extract a spectrum of cognitive and social characteristics from
            | the text data that a person generates through blogs,
            | tweets, forum posts, and more.
            | This application allow you to compare different profiles.
          div.resource
            img.link-icon(src='/images/link.svg')
            strong Resources:
          div.resource-item-container
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/personality-insights') API Overview
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/') Documentation
            a.resource-item(href='https://github.com/watson-developer-cloud/personality-insights-comparator') Fork on Github
            a.resource-item(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/personality-insights-comparator.git') Fork and Deploy on Bluemix
