- var traits = [['Cautious','Curious'],['Organized','Easy Going'],['Outgoing','Reserved'],['Sensitive','Confident'],['Compassionate','Analytical']]

each trait, i in traits
  .row.trait-row
    .col-md-3
      p.text-right #{trait[0]}
    .col-md-3.col-md-push-6
      p.text-left #{trait[1]}
    .col-md-6.col-md-pull-3
      div.measuring-bar