//- index.jade
extends ./layout.jade

block row-content
  .container
    .row
      .col-lg-12
        h2 Input
        .profile-container
    .row
      .col-lg-12
        .row(style='min-height:80px;')
          .col-lg-12
            .well
              .row
                .col-lg-5.col-md-5.col-xs-5
                .col-lg-3.col-md-3.col-xs-3.col-md-push-1.col-xs-push-1
                  button.btn.btn-block.btn-success.add-profile Add Entity
                .col-lg-3.col-md-3.col-xs-3.col-md-push-1.col-xs-push-1
                  button.btn.btn-block.compare-btn Compare
    .row
      .col-lg-12
        h2 Comparation
        .row(style='min-height:120px;')
          .col-lg-12
            .form-group.row.loading.text-center(style='display:none;')
              img(src='images/watson.gif')
            .well.form-group.row.error(style='display: none;')
              p.errorMsg
            .well.results(style='display: none;')
              .comparator
                include comparator.jade
              div
                h3 Analyzed Traits
                .profile-list

  include templates.jade
